body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.calculator-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    max-width: 300px;
    width: 100%;
    text-align: center;
}
h2 {
    margin-bottom: 20px;
    color: #333;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}
h3 {
    margin-top: 20px;
    color: #333;
}